/** @format */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: grey;
}

main {
  max-width: 900px;
  border: 5px solid green;
  height: 500px;
  margin: 60px auto;
  background-color: white;
  border-radius: 10px;
}

main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
}

main nav h1 {
  color: green;
}

main nav .nav-icons i {
  margin: 0px 8px;
}

main section {
  display: flex;
  margin: 0 30px;
  /* align-items: center; */
}

main section .arrow-icons {
  display: flex;
  align-items: center;
}

main section .arrow-icons i {
  height: 30px;
  width: 30px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 2px solid green;
}

.fa-chevron-right {
  background: green;
  color: white;
  margin-left: 6px;
}

main section .image img {
  height: 500px;
}
